<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Easydevel_ConfigViewer>
            <version>0.1.0</version>
        </Easydevel_ConfigViewer>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <easydevel_configviewer_model_observer>
                        <type>singleton</type>
                        <class>Easydevel_ConfigViewer_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </easydevel_configviewer_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>